.character-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    max-width: 1400px;
}
.pagination{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 12px;
}
.pagination button{
    width: 80px;
    height: 24px;
    display: flex;    
    justify-content: center;
    align-items: center;
}